@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

    img {
        width: 200px;
        height: 150px;
    }

body {
    font-family: 'Montserrat', sans-serif;
   text-align: center;
   padding: auto;
   background: linear-gradient(to bottom, #3b82f6, #257992);
    
}
.topo {
    display: flex;              
    justify-content: space-between;
    text-align: center; 
    padding: 15px 40px;      

  }

.logo-cmc {
    font-size: 32px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    
  }


.menu-cmc {
  display: flex;
  gap: 30px; 
}

.menu-item {
    
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  transition: color 0.3s ease;
}

.menu-item:hover {
  color: #00e7f7; 
  cursor: pointer;
  
}

.conteudo-principal {
    background-color: rgba(240, 248, 255); 
    padding: 20px;
    border-radius: 10px;
}
.conteudo-lista{
    background-color: rgba(240, 248, 255); 

    border-radius: 5px;
}
.meu-time {
 
        background-color: rgba(240, 248, 255); 
        padding: 20px;
        border-radius: 10px;
    
}
.atletico {
    text-align: left;
    
}


h1 {
   font-size: 50px;
  font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color: #6CABDD;
}
h3 {
    font-size: 30px;
}
h2 {
    font-size: 40px;
}
p {
    font-size: 25px;
}

ol {
    padding: 0;
    font-size: 25px;
}
li {
    list-style: none;
}

footer {
    font-size: 40px;
    display: flex;
    justify-content: end;
    margin: 0px 15px;
}

.futebol {
    width: 800px;
    height: auto;
}

    .times img {
        width: 480px;
        height: auto; 
        border-radius: 10px; 
    }
    .escalacao li {
      background-color: #ffffff;
      border: 2px solid #00796B;
      border-radius: 8px;
      padding: 10px 15px;
      margin: 10px 0;
    }
    .zoom:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease;
      }
    .zoom {
        transition: transform 0.3s ease;
      }
      .boneco {
        font-size: 40px;
      }
     