@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

    img {
        width: 200px;
        height: 150px;
    }


body {
    font-family: "Cascadia Mono", sans-serif;
   text-align: center;
   padding: auto;
   background: #329fc9;
background: linear-gradient(179deg, rgba(50, 159, 201, 1) 40%, #39F970 , #FFFFFF 70%);

}

.atletico {
    text-align: left;
}

h1 {
    font-size: 50px;
}
h3 {
    font-size: 30px;
}
h2 {
    font-size: 40px;
}
p {
    font-size: 25px;
}

ol {
    padding: 0;
    font-size: 25px;
}

footer {
    font-size: 40px;
}

.futebol {
    width: 800px;
    height: auto;
}
  .escalacao {
      list-style: none;
      padding: 0;
      max-width: 400px;
      margin: 0 auto;
    }
    
    .escalacao li {
      background-color: #ffffff;
      border: 2px solid #00796B;
      border-radius: 8px;
      padding: 10px 15px;
      margin: 10px 0;
    }
