@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: "Cascadia Mono", sans-serif;
   text-align: center;
   padding: auto;
  color: #ff0000; 
  background-image: url(https://i.pinimg.com/736x/23/c4/33/23c4336bbb5087b12082110b47732d7f.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;margin: 0;
  font-size: 20px;
  font-weight: larger;
}

